html,body{
    margin:0 auto;
    padding:0;
    width:100%;
    background-color:#FFFFFF;
}



header{
    display:inline-block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:60px;
    border-bottom:solid 1px #d1d1d1;
    background-image: url('http://i.imgur.com/kETJpSj.png');
    background-size:140px;
    background-repeat:no-repeat;
    background-position:center;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    
}

.header_font{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 60px;
    letter-spacing: 1.2px;
    font-size-adjust: 14px;
    font-family: sans-serif;
    font-weight:600;
   
}

#explore_box{
    width:140px;
    height: 60px;
    float: left;
}

#menu_lines{ 
    display: inline-block;
    position:relative;
    top:20px;
    left:20px;
    border-top: calc(17px/1.8) double black; 
    border-bottom: calc(6px/2) solid black;
    content:"";
    height: 4px; 
    width:14px;
    float:left;
    
}


#explorer_txt{
    margin-left:10px;
    width:auto;
    height:auto;
    font-size-adjust: 14px;
    font-family: sans-serif;
    font-weight:600;
}


#log_in{
    width:75px;
    height:60px;
    float:right;
}

#sign_up{
    width:90px;
    height:60px;
    background-color:#46b98b;
    color:snow;
    font-weight:bold;
    float:right;
}

main{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
    
}

section{
        margin:0 auto;
        padding:0;
        width:100%;
        height:550px;
        background-image:url('http://i.imgur.com/RtIG5AV.jpg');
        background-repeat:no-repeat;
        background-size:100%;
        }
            
            

#info_box{
    display:inline-block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:auto;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    font-family: "Circular 7r", "Circular A", "Circular B",sans-serif;
    color: #fff;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin-top:30px;
}





main > section > #info_box > h1{
    font-size: 37px;
    line-height:1rem;
    font-weight: 800;
    font-style: normal;
    font-family: "Surveyor Text 8r", "Surveyor Text A", "Surveyor Text B", Surveyor Text,Times New Roman,Times New Roman,Times,Baskerville,Georgia,serif;
    text-align: center;
    text-transform:lowercase;
    color: #fff;
}

#zipcode_box{
    margin-left:calc(50% - 150px);
    width:300px;
    height:60px;
    line-height:60px;
    background-color:snow;
    
}

input{
    width:296px;
    height:60px;
    line-height:60px;
    background-color:#fff;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    text-align: center;


}

#plan_button{
    margin-left:calc(50% - 150px);
    width:300px;
    height:60px;
    text-align: center;
    line-height:60px;
    background-color:#46b98b;
}




@media screen and (max-width: 999px){
    
    header{
        background-size:90px;
    }
    
    section{
        background-image:url('http://i.imgur.com/48i0cm8.jpg?1');
    }
    
   
  
}

@media only screen and (max-width:699px){
    
    header{
        background-size:80px;
        height:50px;
    }
    
    #sign_up{
        height:50px;
        line-height:50px;
    }
    
    section{
        background-image:url('http://i.imgur.com/Aa3qgT7.jpg');
    }
    
    main > section > #info_box > h1{
        font-size: 30px;
    }
    
    #menu_lines{
        position:relative;
        top:18px;
        left:6px;
        
    }
    
    #explorer_txt{
        display:none;
    }
    
    #log_in{
        display:none;
    }
    
    
    #zipcode_box{
    margin-left:calc(50% - 110px);
    width:220px;
    height:50px;
    line-height:50px;
    background-color:snow;
    
}

input{
    width:210px;
    height:40px;
    line-height:50px;
    background-color:#fff;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align:middle;


}

#plan_button{
    margin-left:calc(50% - 110px);
    width:220px;
    height:50px;
    text-align: center;
    line-height:50px;
    background-color:#46b98b;
}
       
}


@media only screen and (max-width:420px){
    
    main > section > #info_box > h1{
        font-size: 22px;
    }
                
    section{
        background-image:url('http://i.imgur.com/Lfxz3UO.jpg');
    }
    
    #zipcode_box{
        margin-top:40%;
    }
                
}




