html,body{
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    background-color:#FFFFFF;
}

/*Example for fonts - and css for middle text.*/
/*.see-available-plans--brochure__title {
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    font-size: 40px;
    line-height: 41px;
    font-weight: 800;
    font-style: normal;
    font-family: "Surveyor Text 8r", "Surveyor Text A", "Surveyor Text B", Surveyor Text,Times New Roman,Times New Roman,Times,Baskerville,Georgia,serif;
    color: #fff;
    margin-bottom: 22px;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
}

*/

header{
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:60px;
    border-bottom:solid 1px #d1d1d1;
}

#head_left{
    width:30%;
    height:100%;
    float:left;
    background-color:red;
}
#head_center{
    width:40%;
    height:100%;
    float:left;
    background-color:blue;
}

#head_right{
    width:30%;
    height:100%;
    float:right;
    background-color:aqua;
}

.header_font_style{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 60px;
    letter-spacing: 1.2px;
    color: #3B3B3B;
    font-weight: 500;
    font-style: normal;
    font-family: "Circular 5r", "Circular A", "Circular B",sans-serif;
}

#explorer_box{
    width:140px;
    height: 60px;
    float: left;
}

#explorer_txt{
    width:auto;
    height:auto;
}

#small_box{
    position:relative;
    top:24px;
    margin-left:20px;
    width:6px;
    height:10px;
    float:left;
    border:solid 1px black;
}

#plated_logo{
    margin-top:10px;
    margin-left:calc(40%);
    width:120px;
    height:100%;
    float:left;
}

#log_in{
    width:75px;
    height:60px;
    float:right;
}

#sign_up{
    width:110px;
    height:60px;
    background-color:#46b98b;
    float:right;
}

@media only screen and (max-width:699px){
    
    #explorer_txt{
    display:none;
    }
    
    #log_in{
    display:none;
}
    
    
    
}














*/





/*  Middle Section Fonts
.header__nav__toggle:before {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: "Icon 4r", "Icon A", "Icon B";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\e909";
    font-variant: normal;
    speak: none;
    text-indent: 0;
    text-transform: none;
    vertical-align: top;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    display: block;
*/